html, body {
    width: 100%; 
    height: 100%; 
    padding: 0;
    margin: 0;
    background: #191d1e; /* Old browsers */
    background: -moz-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #191d1e), color-stop(100%, #283139)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #b4d7e0 50%, #283139 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
    background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191d1e', endColorstr='#283139', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}

#projector {
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 150%;
    transform: translate(0vw, -118vh);
    pointer-events: none;
}

.center-div {
    width: 580px;
    height: 374px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#preloaderDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    opacity: 1;
}

#date2014 {
    position: absolute;
    padding-left: 210px;
    padding-top: 15px;
    opacity: 0;
    top: 303px;
    left: 0;
}




@media (max-width: 768px) {
    #projector{
        transform: translate(0vw, -120vh);
    }


}

