h1{
    font-size: 50px;
    color:rgb(36, 113, 168);
    margin-left: 500px;


}

.lofiMessage {
    position: absolute; /* Position it absolutely */
    top: 0; /* Align it to the top of the screen */
    left: 15.3%; /* Adjust this value to place it to the right of the iframe */
    color: aliceblue; /* Text color */
    line-height: 1.5; /* Spacing between lines */
    display: block;
}



.infiniteCraftImg
{
    width: 250px;
    height: 350px;
    margin-bottom: -330px;
    margin-right: 550px;
}

a{
    color: rgb(255, 255, 255); 
    margin-bottom: 652.5px;
    margin-right: 510px;
}

.passwordGameImg{
    margin-right: 280px;
    margin-bottom: -330px;
    width:250px;
}

.perfectCircleImg{
    margin-right: 10px; 
    margin-bottom: -330px;
    width:250px;
}

.trolleyProblemImg{
    position: absolute;
    right: -260px;
    bottom: -205px;
    width: 250px;
}

.spaceElevatorImg{
margin-right: 550px;
margin-bottom: -805px;
width:250px;
}   

.asteroidLauncherImg{
margin-right: 280px;
margin-bottom: -805px;
width:250px;
}

.rocksImg{
margin-right: 10px;
margin-bottom: -805px;
width:250px;
}

.checklistImg {
    position: absolute;
    right: -260px;
    bottom: -441.5px;
    width: 250px;
}

.streetViewImg{
width: 250px;
margin-bottom: -1280px;
margin-right: 550px;
}

.whoWasAliveImg{
width: 250px;
margin-bottom: -1280px;
margin-right: 280px;    
}

.progressImg{
width: 250px;
margin-bottom: -1280px;
margin-right: 10px;   
}

.daysSinceImg{
width: 250px;
margin-bottom: -1280px;
margin-right: 10px;
}

.settleThisImg{
width: 250px;
margin-bottom: -1280px;
margin-right: -500px; 
}

.deepSeaImg{
width: 250px;
margin-bottom: -1755px;
margin-right: -500px; 
}

.internetArchivesImg{
margin-right: 550px;
margin-bottom: -1755px;
width:250px;
}

.lofiChaosImg{
margin-right: 280px;
margin-bottom: -1755px;
width:250px;
}

.dayImg{
margin-right: 10px;
margin-bottom: -1755px;
width:250px;
}

.darkPatternsImg{
width: 250px;
margin-bottom: -2230px;
margin-right: -500px; 
        
}

.reviewImg{
width: 250px;
margin-bottom: -2230px;
margin-right: 550px; 
            
}

.statsImg{
width: 250px;
margin-bottom: -2230px;
margin-right: 10px; 
}

.sunImg{
width: 250px;
margin-bottom: -2230px;
margin-right: 280px; 
}

.designImg{
width: 250px;
margin-bottom: -2705px;
margin-right: -500px; 
}

.sellImg{
width: 250px;
margin-bottom: -2705px;
margin-right: 550px; 
}

.universeImg{
width: 250px;
margin-bottom: -2705px;
margin-right: 10px; 
}

.sizeImg{
width: 250px;
margin-bottom: -2705px;
margin-right: 280px; 
}

.moneyImg{
width: 250px;
margin-bottom: -3180px;
margin-right: 280px; 
}

.movingImg{
width: 250px;
margin-bottom: -3180px;
margin-right: -500px; 
}

.paperImg{
width: 250px;
margin-bottom: -3180px;
margin-right: 10px; 
}

.logoImg{
width: 250px;
 margin-bottom: -3180px;
margin-right: 550px; 
}

.auctionImg{
width: 250px;
margin-bottom: -3655px;
margin-right: 550px;  
}

.progressImg{
width: 250px;
margin-bottom: -3655px;
margin-right: 10px;  
}

.billGatesImg{
width: 250px;
margin-bottom: -3655px;
margin-right: -500px;  
}

.babyImg{
width: 250px;
margin-bottom: -3655px;
margin-right: 280px;  
}

.support {
    border-radius: 8px; 
    background-color: rgb(202, 137, 57);
    color: white; /* Optional: Text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer */
    margin-right: 600px;
    margin-bottom: 600PX;
}


