<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elephant Collection</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/background2.css">
    <link rel="stylesheet" href="../static/elephantCollection.css">

    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="../static/background2.js" defer></script>
</head>

<body>
<canvas></canvas>

<h1>Games From </h1>

<a class title="Click Me" href="https://store.steampowered.com/app/2274110/The_Elephant_Collection/" target="_blank">The Elephant Collection</a>

<a href="https://www.newgrounds.com/portal/view/474371" target="_blank"><img class="achievement" title="Achievement Unlocked: Read This Message" src="https://jayisgames.com/images/psychotronic_achievementunlocked_title.gif"  alt="Achivement Unlocked"></a>

</body>
</html>