<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/background3.css">
    <link rel="stylesheet" href="../static/homePage.css">
</head>
<body>
    <div id="overlay"><h1>THE PAST, PRESENT, FUTURE OF GAMING</h1></div>
    <!-- 
    <div class="soundcloudContainer">
         <iframe width="15%" height="100" scrolling="no" frameborder="no" controls loop src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1929597263&color=%2300aabb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div style="font-size: 10px; color: #a92626; line-break: anywhere; word-break: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif; font-weight: 100;">
            <a href="https://soundcloud.com/aiden-figueroa-634927617" title="the RED RAT" target="_blank" style="color: #cccccc; text-decoration: none;">Press Play Too Enter The Future With</a>
            <a href="https://soundcloud.com/aiden-figueroa-634927617/neonexus" title="NeoNexus" target="_blank" style="color: #cccccc; text-decoration: none;"> NeoNexus</a>
        </div>
   

    </div> -->


    <div id="starman">
        <audio id="starmanAudio" controls autoplay loop>
            <source src="https://www.dropbox.com/scl/fi/9i6ln371baq6pem1ppjg3/01-04-Starman.flac?rlkey=55amsk16ibu06tnp8xkwjj1e6&st=s25zxwcw&dl=1" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>

    <p id="starmanMessage">The Popular Song Starman By David Bowie Releases In 1972</p>

    <div id="liveWire">
        <audio id="liveWireAudio" controls loop>
            <source src="https://www.dropbox.com/scl/fi/szv9ip6n9rfvvggnv3w2p/01-motley_crue-live_wire.flac?rlkey=lqd6lkhbhi6vkw3962ckars4e&st=1k6ekghg&dl=1" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>

    <p id="liveWireMessage">The Popular Song Live Wire By Mötley Crüe Releases In 1981</p>



    <div id="tennisForTwo">
        <a href="https://eastcoastinteractive.itch.io/tennis-for-two" target="_blank">Tennis For Two Is Created-The First Video Game Ever Made</a>
    </div>

    <p class="dateOne"> 1958 </p>

    <div id="spaceWar">
        <a href="https://www.masswerk.at/spacewar/" target="_blank">Space War Relases-The First Computer Game Ever Made</a>
    </div>

    <p class="dateTwo"> 1961 </p>

    <div id="computerSpace">
        <a href="https://www.masswerk.at/icss/" target="_blank">Computer Space (Based On Space War) Releases-The First Arcade Game Ever Made</a>
    </div>

    <p class="dateThree"> 1971 </p>

    <div id="magnavoxOdessey">
        <a href="https://www.free80sarcade.com/atari2600_DemonAttack.php" target="_blank">Pong Releases-The First Popular Arcade Game</a>
    </div>

    <p class="dateFour"> 1972 </p>

    <div id="pong">
        <a href="https://www.youtube.com/watch?v=jLGBtkKPj2U" target="_blank">Magnavox Odessey Releases-The First Console Ever Made</a>
    </div>

    <p class="dateFive"> 1973 </p>

    <div id="tableTennis">
        <a href="https://www.youtube.com/watch?v=bfmL6l128JU" target="_blank">Table Tennis (inspired by pong) Releases On The Magnavox-The First Home Video</a>
    </div>

    <p class="dateSix"> 1973 </p>

    <div id="homePong">
        <a href="https://www.youtube.com/watch?v=FvT8jG1OVdI" target="_blank">Atari Home Pong Releases-The First Popular Home Video Game</a>
    </div>

    <p class="dateSeven"> 1974 </p>

    <div id="gunFight">
        <a href="https://www.youtube.com/watch?v=xYa0G6KGayk" target="_blank">Gun Fight Releases-The First Multiplayer Arcade Game, The First Game To Use A Joystick/Buttons</a>
    </div>

    <p class="dateEight"> 1975 </p>


    <div id="farChildChannelF">
        <a href="https://www.lexaloffle.com/bbs/?tid=40935" target="_blank">Farchild F Releases-The First Console Too Use Cartridges</a>
    </div>

    <p class="dateNine"> 1976 </p>


    <div id="atari">
        <a href="https://www.mysteinbach.ca/game-zone/2150/atari-breakout/" target="_blank">Breakout releases As An Arcade Game-Creates New Game Elements And Technologies That Became The Foundation For All Future Games.</a>
    </div>

    <p class="dateTen"> 1976 </p>

    <div id="breakout">
        <a href="https://www.free80sarcade.com/all2600games.php" target="_blank">Atari 2600 Releases-The First Modern Game Console, Turns Gaming Into A Mainstream Hobby</a>
    </div>

    <p class="dateEleven"> 1977 </p>

    <div id="spaceInvaders">
        <a href="https://www.retrogames.cz/play_016-NES.php" target="_blank">Breakout releases for Atari-Creates New Game Elements And Technologies That Became The Foundation For All Future Games.</a>
    </div>

    <p class="dateTwelve"> 1976 </p>

    <div id="combat">
        <a href="https://www.retrogames.cz/play_213-Atari2600.php#google_vignette" target="_blank">Combat Releases As The First Game On The Atari-Popularized Game Consoles, Established Multiplayer As A Staple For Home Consoles</a>
    </div>

    <p class="dateThirteen"> 1977 </p>

    <div id="adventure">
        <a href="https://free80sarcade.com/atari2600_Adventure.php" target="_blank">Adventure Releases On The Atari As The Frst Ever Adventure Game-First Game Too Have An Open World, First Game To Have An Inventory</a>
    </div>

    <p class="dateFourteen"> 1978 </p>

    <div id="spaceInvaders2">
        <a href="https://freeinvaders.org/#google_vignette" target="_blank">Space Invaders Releases As An Arcade Game-Paved The Way For The Arcade Boom, Made Video Games Competative</a>
    </div>

    <p class="dateFifteen"> 1978 </p>

    <div id="odessey2">
        <a href="https://www.youtube.com/watch?v=HWHAM-W8EPU" target="_blank">Magnavox Odessey 2 Releases-First Console Too Use A Keyboard, Made Games Educational</a>
    </div>

    <p class="dateSixteen"> 1978 </p>

    <div id="asteroids">
        <a href="https://freeasteroids.org/" target="_blank">Asteroids Releases As An Arcade Game-One Of The Most Popular Arcade Games Ever Made</a>
    </div>

    <p class="dateSeventeen"> 1979 </p>

    <div id="pacMan">
        <a href="https://www.pacman1.net/" target="_blank">Pacman Releases-The First Game Too Have An Iconic/Popular Character That Whent Beyond Its Game, Popularized Powerups</a>
    </div>

    <p class="dateEighteen"> 1980 </p>

    <div id="defender">
        <a href="https://www.free80sarcade.com/defender.php" target="_blank">Defender Releases As An Arcade Game-An Extremely Popular Game, The First Game Too Have Bombs And Clear Enemies Off Screen</a>
    </div>

    <p class="dateNineteen"> 1980 </p>

    <div id="donkeyKong">
        <a href="https://www.retrogames.cc/arcade-games/donkey-kong-us-set-1.html#" target="_blank">Donkey Kong Releases-Introduces Mario As Jump Man</a>
    </div>

    <p class="dateTwenty"> 1981 </p>

    <div id="galaga">
        <a href="https://www.retrogames.cz/play_018-NES.php" target="_blank">Galaga Releases As An Arcade Game-Refines The Shooter Genre, Introduces The Dual Ship Mechanic</a>
    </div>

    <p class="dateTwentyEight"> 1981 </p>

    <div id="et">
        <a href="https://www.retrogames.cz/play_083-Atari2600.php#google_vignette" target="_blank">ET:Extra Terrestial Releases For The Atari-One Of The Worst Games Ever Made, Contributes Greatly Too The Start Of The Gaming Crash</a>
    </div>

    <p class="dateTwentyOne"> 1982 </p>

    <div id="homeComputer">
        <a href="https://www.youtube.com/watch?v=ycVyGb5ID90" target="_blank">Home Computers Are On The Rise-Allowed For Complex Games And New Genres Such As Simulation And Strategy Games</a>
    </div>

    <p class="dateTwentyTwo"> 1982 </p>

    <div id="crash">
        <a href="https://www.youtube.com/watch?v=kv7DJrLAZus" target="_blank">The Video Game Crash Begins Due Too Oversaturation, Poor Qualty Games, Change In Consumer Interest-Major Companies Such As Atari Become Bankrupt</a>
    </div>

    <p class="dateTwentyThree"> 1983 </p>

    <div id="famicom">
        <a href="https://www.free80sarcade.com/allnesgames.php" target="_blank">Nintendo's First Game System The Famicom/NES Releases-Arguably The Most Revolutionary Game System To Ever Release</a>
    </div>

    <p class="dateTwentyFour"> 1983 </p>

    <div id="tetris">
        <a href="https://www.lumpty.com/amusements/games/tetris/tetris.html" target="_blank">Tetris Releases As An Arcade Game-All Of It's Game Mechanics And Element Such As Random Generation, Endless Playabillity, Etc. Where New, Engaging, And Popular</a>
    </div>

    <p class="dateTwentyNine"> 1984 </p>

    <div id="conventions">
        <a href="https://www.youtube.com/watch?v=ZDvr8WrpjoE" target="_blank">Game/Electronic Conventions And Shows Start Too Emerge Such As The Consumer Electrincs Show</a>
    </div>

    <p class="dateThirty"> 1984 </p>


    <div id="dragonLair">
        <a href="https://www.retrogames.cz/play_549-DOS.php" target="_blank">Dragon's Lair Releases As An Arcade Game-First Game Too Use Laserdisc Technology, First Game To Use Quicktime Events</a>
    </div>

    <p class="dateTwentyFive"> 1985 </p>

    <div id="mario">
        <a href="https://supermario-game.com/" target="_blank">Super Mario Bros. Releases-Revolutionizes Platform Games, Establishd Many Game Elements Still Used, A Highest Selling Games Of All Time</a>
    </div>

    <p class="dateTwentySix"> 1985 </p>

    <div id="crashEnds">
        <a href="https://en.wikipedia.org/wiki/Video_game_crash_of_1983" target="_blank">Gaming Crash Ends-Nintendo Takes Over The Industry, Quality Control Enters The Industry, Game Ratings Are Introduced </a>
    </div>

    <p class="dateTwentySeven"> 1985 </p>

    <div id="zelda">
        <a href="https://www.retrogames.cc/nes-games/the-legend-of-zelda-play-as-zelda.html#" target="_blank">Legend Of Zelda Releases On The Famicom-Introduces Open WOrld Exploration And Saving Your Game, Sets New Standards For Story And Depth </a>
    </div>

    <p class="dateThirtyOne"> 1985 </p>

    <div id="metroid">
        <a href="https://gam.onl/nes/metroid.html#game" target="_blank">Metroid Releases On The NES-The First Pure Exploration Game, The First Non Linear Game, Created The Metroidvania Genre A long With Castlevania</a>
    </div>

    <p class="dateThirtyTwo"> 1986 </p>

    <div id="finalFantasy">
        <a href="https://oldgameshelf.com/games/nes/final-fantasy-350" target="_blank">Final Fantasy Releses On The NES-The First Game With Turnbased Combat And A Story With Depth</a>
    </div>

    <p class="dateThirtyThree"> 1987 </p>

    <div id="streetFighter">
        <a href="https://www.retrogames.cc/arcade-games/street-fighter-us-set-1.html#" target="_blank">Street Fighter Releases As An Arcade Game-Introduces Character Selecton, Unique Moves Per Character, And A Two Button Fighting Scheme which Became The Foundation For All Future Fighting Games</a>
    </div>

    <p class="dateThirtyFour"> 1987 </p>

    <div id="megaMan">
        <a href="https://www.retrogames.cz/play_116-NES.php" target="_blank">Mega Man Releases For The NES-Introduced The Concept Of Boss Items/Loot</a>
    </div>

    <p class="dateThirtyFive"> 1987 </p>

    <div id="genesis">
        <a href="https://www.retrogames.cc/genesis-games" target="_blank">Sega Genesis Releases-Brings Sega Into The Console Market</a>
    </div>

    <p class="dateThirtySix"> 1989 </p>

    <div id="gameBoy">
        <a href="https://playclassic.games/games/game-boy-games/page/3" target="_blank">Game Boy Releases-Popularizes Portable Gaming And Hand Held Gaming Systems</a>
    </div>

    <p class="dateThirtySeven"> 1989 </p>

    <div id="marioWorld">
        <a href="https://playclassic.games/games/jump-and-run-snes-games-online/play-super-mario-world-online/play/#google_vignette" target="_blank">Super Mario World Releases For The SNES-Introduces Yoshi</a>
    </div>

    <p class="dateThirtyEight"> 1990 </p>

    <div id="streetFighter2">
        <a href="https://www.retrogames.cz/play_304-SNES.php" target="_blank">Street Fighter II Releases As An Arcade Game-Popularizes Fighting Games And Competative Play</a>
    </div>

    <p class="dateThirtyNine"> 1991 </p>

    <div id="sonic">
        <a href="https://www.retrogames.cz/play_117-Genesis.php" target="_blank">Sonic The Hedgehog Releases For The Sega Geneis-Makes Sega Becomes A Major Competitor In The Industry </a>
    </div>

    <p class="dateForty"> 1991 </p>

    <div id="doom">
        <a href="https://playclassic.games/games/first-person-shooter-dos-games-online/play-doom-online/play/" target="_blank">Doom Is Released As An Arcade Game-Introduces The First Person Shooter Genre</a>
    </div>

    <p class="dateFortyOne"> 1992 </p>


    <div id="doomConsole">
        <a href="https://www.youtube.com/watch?v=BkaC1-QoraY" target="_blank">Doom Is Released For PC-Becomes One Of The The Most Influential Games Of All Time</a>
    </div>

    <p class="dateFortyTwo"> 1993 </p>

    <div id="starFox">
        <a href="https://playclassic.games/games/action-snes-games-online/play-star-fox-online/play/#google_vignette" target="_blank">Star Fox Releaes On The SNES-The First Console Game To Use 3D Graphics</a>
    </div>

    <p class="dateFortyThree"> 1993 </p>

    <div id="playStation">
        <a href="https://www.ps1fun.com/page/2?per-page=12" target="_blank">Play Station Releases-Establishes Sony As A Major Competitor In The Console Market, Completely Changed The Console Landscape</a>
    </div>

    <p class="dateFortyFour"> 1995 </p>

    <div id="quake">
        <a href="https://www.youtube.com/watch?v=ZHT2TgMX7Rg" target="_blank">Quake Releases On PC-Popularizes Online Multiplayer, Established The First Person Shooter Genre For 3D Environments</a>
    </div>

    <p class="dateFortyFive"> 1996 </p>

    <div id="goldenEye">
        <a href="https://www.retrogames.cc/n64-games/007-goldeneye-usa.html" target="_blank">Goledn Eye 007 Releases On The N64-Set The Standard For Multiplayer Games</a>
    </div>

    <p class="dateFortySix"> 1997</p>

    <div id="halfLife">
        <a href="https://www.retrogames.cc/n64-games/007-goldeneye-usa.html" target="_blank">Half-Life Releases On PC-Revolutionizes Storytelling And Gameplay For First Person Shooters</a>
    </div>

    <p class="dateFortySeven"> 1998</p>

    <div id="pokemon">
        <a href="https://playclassic.games/games/role-playing-game-boy-games-online/pokemon-red-version/play/#google_vignette" target="_blank">Pokemon Releases On The GameBoy-Becomes One Of The Most Successful Franchises In History</a>
    </div>

    <p class="dateFortyEight"> 1998</p>


    <hr id="timeline">


    <div id="hey">
        <div id="layer-up"></div>
    </div>
    <div id="layer-0">
        <div id="layer-1">
            <div id="layer-2">
                <div id="lines">
                    <div id="layer-corner"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="mtnZZZ"></div>




</body>
</html>