<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/background3.css">
    <link rel="stylesheet" href="../static/homePage.css">
</head>
<body>
    <div id="overlay"><h1>THE PAST, PRESENT, FUTURE OF GAMING</h1></div>
    <!-- 
    <div class="soundcloudContainer">
         <iframe width="15%" height="100" scrolling="no" frameborder="no" controls loop src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1929597263&color=%2300aabb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div style="font-size: 10px; color: #a92626; line-break: anywhere; word-break: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif; font-weight: 100;">
            <a href="https://soundcloud.com/aiden-figueroa-634927617" title="the RED RAT" target="_blank" style="color: #cccccc; text-decoration: none;">Press Play Too Enter The Future With</a>
            <a href="https://soundcloud.com/aiden-figueroa-634927617/neonexus" title="NeoNexus" target="_blank" style="color: #cccccc; text-decoration: none;"> NeoNexus</a>
        </div>
   

    </div> -->

    <div class="starman">
        <audio controls autoplay loop>
            <source src="https://www.dropbox.com/scl/fi/9i6ln371baq6pem1ppjg3/01-04-Starman.flac?rlkey=55amsk16ibu06tnp8xkwjj1e6&st=s25zxwcw&dl=1" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>

    <p class="starmanMessage">The Popular Song Starman By David Bowie Releases In 1972</p>




    <div id="tennisForTwo">
        <a href="https://eastcoastinteractive.itch.io/tennis-for-two" target="_blank">Tennis For Two Is Created-The First Video Game Ever Made</a>
    </div>

    <p class="dateOne"> 1958 </p>

    <div id="spaceWar">
        <a href="https://www.masswerk.at/spacewar/" target="_blank">Space War Relases-The First Computer Game Ever Made</a>
    </div>

    <p class="dateTwo"> 1961 </p>

    <div id="computerSpace">
        <a href="https://www.masswerk.at/icss/" target="_blank">Computer Space (Based On Space War) Releases-The First Arcade Game Ever Made</a>
    </div>

    <p class="dateThree"> 1971 </p>

    <div id="magnavoxOdessey">
        <a href="https://www.free80sarcade.com/atari2600_DemonAttack.php" target="_blank">Pong Releases-The First Popular Arcade Game</a>
    </div>

    <p class="dateFour"> 1972 </p>

    <div id="pong">
        <a href="https://www.youtube.com/watch?v=jLGBtkKPj2U" target="_blank">Magnavox Odessey Releases-The First Console Ever Made</a>
    </div>

    <p class="dateFive"> 1973 </p>

    <div id="tableTennis">
        <a href="https://www.youtube.com/watch?v=bfmL6l128JU" target="_blank">Table Tennis (inspired by pong) Releases On The Magnavox-The First Home Video</a>
    </div>

    <p class="dateSix"> 1973 </p>

    <div id="homePong">
        <a href="https://www.youtube.com/watch?v=FvT8jG1OVdI" target="_blank">Atari Home Pong Releases-The First Popular Home Video Game</a>
    </div>

    <p class="dateSeven"> 1974 </p>

    <div id="gunFight">
        <a href="https://www.youtube.com/watch?v=xYa0G6KGayk" target="_blank">Gun Fight Releases-The First Multiplayer Arcade Game, The First Game To Use A Joystick/Buttons</a>
    </div>

    <p class="dateEight"> 1975 </p>


    <div id="farChildChannelF">
        <a href="https://www.lexaloffle.com/bbs/?tid=40935" target="_blank">Farchild F Releases-The First Console Too Use Cartridges</a>
    </div>

    <p class="dateNine"> 1976 </p>


    <div id="atari">
        <a href="https://www.mysteinbach.ca/game-zone/2150/atari-breakout/" target="_blank">Breakout releases As An Arcade Game-Creates New Game Elements And Technologies That Became The Foundation For All Future Games.</a>
    </div>

    <p class="dateTen"> 1976 </p>

    <div id="breakout">
        <a href="https://www.free80sarcade.com/all2600games.php" target="_blank">Atari 2600 Releases-The First Modern Game Console, Turns Gaming Into A Mainstream Hobby</a>
    </div>

    <p class="dateEleven"> 1977 </p>

    <div id="spaceInvaders">
        <a href="https://www.retrogames.cz/play_016-NES.php" target="_blank">Breakout releases for Atari-Creates New Game Elements And Technologies That Became The Foundation For All Future Games.</a>
    </div>

    <p class="dateTwelve"> 1976 </p>

    <div id="combat">
        <a href="https://www.retrogames.cz/play_213-Atari2600.php#google_vignette" target="_blank">Combat Releases As The First Game On The Atari-Popularized Game Consoles, Established Multiplayer As A Staple For Home Consoles</a>
    </div>

    <p class="dateThirteen"> 1977 </p>



    <hr id="timeline">


    <div id="hey">
        <div id="layer-up"></div>
    </div>
    <div id="layer-0">
        <div id="layer-1">
            <div id="layer-2">
                <div id="lines">
                    <div id="layer-corner"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="mtnZZZ"></div>




</body>
</html>