<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neilFunGames</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/neilFunGames.css">
    <link rel="stylesheet" href="../static/background2.css">

    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="../static/background2.js" defer></script>
</head>

<body>
    <canvas></canvas>
    <iframe title="background" allow="autoplay" controls="loop"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1921149395&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" 
    style="width: 15%; height: 150px; position: absolute; top: 0; left: 0; z-index: 10;"></iframe>

    <div style="font-size: 10px; color: #cccccc; position: absolute; top: 170px; left: 10px; line-break: anywhere; word-break: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
    <a href="https://soundcloud.com/aiden-figueroa-634927617" title="Aiden Figueroa" target="_blank" style="color: #cccccc; text-decoration: none;">Aiden Figueroa</a> ·
    <a href="https://soundcloud.com/aiden-figueroa-634927617/flowers" title="flowers" target="_blank" style="color: #cccccc; text-decoration: none;">flowers</a>
    </div>

<canvas></canvas>
<h1>Games From <a title="Click Me" href="https://neal.fun" target="_blank">Neal.Fun</a></h1>

<p class="lofiMessage">Press Play And Chill Out WIth Me</p>


<!--Infinite Craft link and Image -->
<a href="https://neal.fun/infinite-craft/" target="_blank"><img class="infiniteCraftImg" title="A Game About Combining Stuff To create More Stuff" src="https://neal.fun/link-images/infinite-craft.svg"  alt="Infinite Craft"></a>

<script src="C:\Users\19739\Desktop\Vs Code Projects\.vscode\Red Rat Archives\Templates\NeilFunGames.html"></script>

<a href="https://neal.fun/password-game/" target="_blank"><img class="passwordGameImg" title="Your Password Must Contain All Of The Below" src="https://neal.fun/link-images/password-game.svg" alt="The Password Game"></a>

<a href="https://neal.fun/perfect-circle/" target="_blank"><img class="perfectCircleImg" title="Can You Draw A Perfect Circle?" src="https://neal.fun/link-images/perfect-circle.svg" alt="Draw A Perfect Circle"></a>

<a href="https://neal.fun/absurd-trolley-problems/" target="_blank"><img class="trolleyProblemImg" title="Kill 5 People Or Pull The Lever?" src="https://neal.fun/link-images/absurd-trolley-problems.svg" alt="Absurd Trolley Problem"></a>

<a href="https://neal.fun/auction-game/" target="_blank"><img class="auctionImg" title="Find Out What The Rich Wastes There Money On" src="https://neal.fun/link-images/auction-game.svg" alt="The Auction Game"></a>

<a href="https://neal.fun/space-elevator/" target="_blank"><img class="spaceElevatorImg" title="Too Infinitty And Beyond" src="https://neal.fun/link-images/space-elevator.svg" alt="Space Elavator"></a>

<a href="https://neal.fun/asteroid-launcher/" target="_blank"><img class="asteroidLauncherImg" title="Explore The Effects Of Asteroids" src="https://neal.fun/link-images/asteroid-launcher.svg" alt="Asteroid Launcher"></a>

<a href="https://neal.fun/asteroid-launcher/" target="_blank"><img class="asteroidLauncherImg" title="Explore The Effects Of Asteroids" src="https://neal.fun/link-images/asteroid-launcher.svg" alt="Asteroid Launcher"></a>

<a href="https://neal.fun/rocks/" target="_blank"><img class="rocksImg" title="Self Explanatory" src="https://neal.fun/link-images/rocks.svg" alt="Rocks"></a>

<a href="https://neal.fun/rocks/" target="_blank"><img class="rocksImg" title="Self Explanatory" src="https://neal.fun/link-images/rocks.svg" alt="Rocks"></a>

<a href="https://neal.fun/life-checklist/" target="_blank"><img class="checklistImg" title="Gotta Complete Them All" src="https://neal.fun/link-images/life-checklist.svg" alt="Life Checklist"></a>

<a href="https://neal.fun/wonders-of-street-view/" target="_blank"><img class="streetViewImg" title="Well Would Ya Look At That" src="https://neal.fun/link-images/wonders-of-street-view.svg" alt="Wonders Of Street Views"></a>

<a href="https://neal.fun/who-was-alive/" target="_blank"><img class="whoWasAliveImg" title="Guess Who" src="https://neal.fun/link-images/who-was-alive.svg" alt="Who Was Alive"></a>

<a href="https://neal.fun/progress/" target="_blank"><img class="progressImg" title="One Billionth Year At A Time" src="https://neal.fun/link-images/progress.svg" alt="Progress"></a>

<a href="https://neal.fun/days-since-incident/" target="_blank"><img class="daysSinceImg" title="UH OH!" src="https://neal.fun/link-images/days-since-incident.svg" alt="Days SInce Incident"></a>

<a href="https://neal.fun/lets-settle-this/" target="_blank"><img class="settleThisImg" title="Life's Important Questions" src="https://neal.fun/link-images/lets-settle-this.svg" alt="Lets Settle This"></a>

<a href="https://neal.fun/deep-sea/" target="_blank"><img class="deepSeaImg" title="The Wonders Of The Deep" src="https://neal.fun/link-images/deep-sea.svg" alt="The Deep Sea"></a>

<a href="https://neal.fun/internet-artifacts/" target="_blank"><img class="internetArchivesImg" title="Explore The Ancient History of The Internet" src="https://neal.fun/link-images/internet-artifacts.svg" alt="Internet Artifacts"></a>

<a href="https://neal.fun/ambient-chaos/" target="_blank"><img class="lofiChaosImg" title="Lofi But Now It's Chaos" src="https://neal.fun/link-images/ambient-chaos.svg" alt="Ambient Chaos"></a>

<a href="https://neal.fun/where-does-the-day-go/" target="_blank"><img class="dayImg" title="See What Your Day Looks Like" src="https://neal.fun/link-images/where-does-the-day-go.svg" alt="Where Does The Day Go"></a>

<a href="https://neal.fun/dark-patterns/" target="_blank"><img class="darkPatternsImg" title="SHHH...If Anyone Asks This Wasn't Here" src="https://neal.fun/link-images/dark-patterns.svg" alt="Dark Patterns"></a>

<a href="https://neal.fun/earth-reviews/movie-theaters/" target="_blank"><img class="reviewImg" title="For The Extraterrestials: Why Not Leave A Review" src="https://neal.fun/link-images/earth-reviews.svg" alt="Earthly Reviews"></a>

<a href="https://neal.fun/life-stats/" target="_blank"><img class="statsImg" title="Find Out What's Been Going On In Your Life" src="https://neal.fun/link-images/life-stats.svg" alt="Life Stats"></a>

<a href="https://neal.fun/sun-vs-moon/" target="_blank"><img class="sunImg" title="Don't Support The Sun One Of These Days Its Going Too Walk Out On Us" src="https://neal.fun/link-images/sun-vs-moon.svg" alt="Sun Vs. Moon"></a>

<a href="https://neal.fun/design-the-next-iphone/" target="_blank"><img class="designImg" title="I Wonder If Apple Uses This" src="https://neal.fun/link-images/design-the-next-iphone.svg" alt="Design The Next Iphone"></a>

<a href="https://neal.fun/sell-sell-sell/" target="_blank"><img class="sellImg" title="Capatalism By The Minute" src="https://neal.fun/link-images/sell-sell-sell.svg" alt="Sell Sell Sell"></a>

<a href="https://neal.fun/universe-forecast/" target="_blank"><img class="universeImg" title="The Universe Is Just A Phase" src="https://neal.fun/link-images/universe-forecast.svg" alt="The Future Of The Universe"></a>

<a href="https://neal.fun/size-of-space/" target="_blank"><img class="sizeImg" title="Why Your Life is insignificant" src="https://neal.fun/link-images/size-of-space.svg" alt="The Size Of The Universe"></a>

<a href="https://neal.fun/printing-money/" target="_blank"><img class="moneyImg" title="Printing Money Is Now Legal I Guess" src="https://neal.fun/link-images/printing-money.svg" alt="Printing Money"></a>

<a href="https://neal.fun/speed/" target="_blank"><img class="movingImg" title="Your Are Always Moving Even When Your Not" src="https://neal.fun/link-images/speed.svg" alt="Speed"></a>

<a href="https://neal.fun/paper/"  target="_blank"><img class="paperImg" title="You Can Go Too The Moon With Paper" src="https://neal.fun/link-images/paper.svg" alt="Paper"></a>

<a href="https://neal.fun/logos-from-memory/"  target="_blank"><img class="logoImg" title="Good Luck Your Gonna Need It" src="https://neal.fun/link-images/logos-from-memory.svg" alt="Draw The Logo From Memory"></a>

<a href="https://neal.fun/progress/"  target="_blank"><img class="progressImg" title="Where All Gonna Die" src="https://neal.fun/link-images/progress.svg" alt="Progress"></a>

<a href="https://neal.fun/spend/"  target="_blank"><img class="billGatesImg" title="What It's Like Too Be Bill Gates" src="https://neal.fun/link-images/spend.svg" alt="Spend Bill Gates Money"></a>

<a href="https://neal.fun/baby-map/"  target="_blank"><img class="babyImg" title="A Baby Is Born Every Second" src="https://neal.fun/link-images/baby-map.svg" alt="Baby Map"></a>

<a class="support" href="https://buymeacoffee.com/neal" target="_blank" title="Support Neil">
    <button>
        Support Neil And Buy Him A Coffee ☕
    </button>
</a>

</body>
</html>
 